@page
@model AdmissionSystem.PagesApplicationList.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationList[0].ApplicationCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationList[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationList[0].PrioAreaOfResearch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationList[0].Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationList[0].AcademicYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ApplicationList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrioAreaOfResearch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicYear.AcademicYearID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ApplicationListID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ApplicationListID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ApplicationListID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
